[Unit]
Description=RTC sync service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/rtcd

[Install]
WantedBy=basic.target
